stages:
- build
- dependency_scan
- test
- analyze
- deploy

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml


ci-build-job:
  stage: build
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest"
  services:
  - name: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest"
    alias: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
    --build-arg "GITLAB_PROXY=${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/" .
  - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"


test-backend:
  stage: test
  image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
  variables:
    PYTHONPATH: "$CI_PROJECT_DIR/backend/src"
  before_script:
  - apk add --no-cache python3 py3-pip
  - python3 -m venv /venv
  - ". /venv/bin/activate"
  - python -m pip install --upgrade pip
  - pip --version
  - pip install -r backend/requirements.txt
  script:
  - pytest --cov=backend/src --cov-report=term --cov-report=xml:backend/coverage-reports/coverage.xml backend/src/tests/ --cov-config=backend/setup.cfg
  artifacts:
    paths:
      - backend/coverage-reports/coverage.xml
    expire_in: 7 days
  coverage: "/TOTAL\\s+\\d+\\s+\\d+\\s+(\\d+)%/"
  needs:
  - ci-build-job

# TODO test frontend job

analyze-backend:
  stage: analyze
  image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
  variables:
    PYTHONPATH: "$CI_PROJECT_DIR/backend/src"
  before_script:
  - apk add --no-cache python3 py3-pip
  - python3 -m venv /venv
  - ". /venv/bin/activate"
  - pip install -r backend/requirements.txt
  script:
  - python -m pylint --rcfile=backend/.pylintrc backend/src
  - python -m black --config backend/pyproject.toml backend/src
  needs:
  - ci-build-job

analyze-frontend:
  stage: analyze
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:22"
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format
  needs:
  - ci-build-job

sonarqube-scan:
  stage: analyze
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sonarsource/sonar-scanner-cli:latest"
  dependencies:
    - test-backend
  script:
    # Run sonar-scanner and save logs while printing them to the console
    - |
      sonar-scanner | tee sonar-scanner.log
    # Print a section with warnings and errors
    - echo -e "\n=== Warnings and Errors ==="
    - grep -E "(ERROR|WARN)" sonar-scanner.log || echo "No warnings or errors found."
  artifacts:
    paths:
      - sonar-scanner.log
  needs:
    - test-backend


deploy-job:
  stage: deploy
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.4.0"
  services:
  - name: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.4.0-dind"
    alias: docker
  variables:
    SECURE_FILES_DOWNLOAD_PATH: "$SECURE_FILES_PATH"
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apk add --no-cache curl bash
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer"
    | bash
  - apk add --no-cache make openssh-client
  - mv $SECURE_FILES_DOWNLOAD_PATH/.env.production ./frontend/.env.production
  - docker info
  script:
  - echo "Deploying to production server"
  - chmod +x ./scripts/establish_ssh_connection.sh
  - "./scripts/establish_ssh_connection.sh"
  - ssh -v -i ~/.ssh/ci_ssh debian@group2.osnet.h-da.cloud "make update && echo 'Successfully
    deployed' && exit"
  needs:
  - ci-build-job
  only:
  - main