stages:
  - build
  - test
  - analyze
  - deploy

ci-build-job:
  stage: build
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
      alias: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}" --build-arg "GITLAB_PROXY=${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"


test-job:
  stage: test
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}
  variables:
    PYTHONPATH: $CI_PROJECT_DIR/backend/src
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - . /venv/bin/activate
    - python -m pip install --upgrade pip
    - pip --version
    - pip install -r backend/requirements.txt
  script:
    - pytest --cov=backend/src --cov-report=term backend/src/tests/ --cov-config=backend/setup.cfg
  needs:
    - ci-build-job
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+)%/'

dependency_scan-job:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.13-slim
  script:
    # Ensure pip is updated
    - pip install --upgrade pip
    # Install pip-audit
    - pip install --user pip-audit
    # Add local bin directory to PATH
    - export PATH=$PATH:/root/.local/bin
    # Print pip-audit version
    - pip-audit --version
    # Run pip-audit and generate report, ensuring file content
    - pip-audit > dependency_audit_report.txt || true
    - if [ ! -s dependency_audit_report.txt ]; then echo "No known vulnerabilities found" > dependency_audit_report.txt; fi
    # Fail if report is still empty
    - if [ ! -s dependency_audit_report.txt ]; then echo "No report generated"; exit 1; fi
  artifacts:
    paths:
      - dependency_audit_report.txt
    expire_in: 1 day
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  needs:
    - test-job




analyze-job:
  stage: analyze
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}
  variables:
    PYTHONPATH: $CI_PROJECT_DIR/backend/src
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - . /venv/bin/activate
    - pip install -r backend/requirements.txt
  script:
    - python -m pylint --rcfile=backend/.pylintrc backend/src
    - python -m black --config backend/pyproject.toml backend/src
  needs:
    - ci-build-job


deploy-job:
    stage: deploy
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.3.1
    services:
      - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.3.1-dind
        alias: docker
    variables:
      SECURE_FILES_DOWNLOAD_PATH: $SECURE_FILES_PATH
      # Activate Docker-in-Docker
      DOCKER_HOST: tcp://docker:2375
      DOCKER_TLS_CERTDIR: ""
    before_script:
      - apk add --no-cache curl bash
      # download secure files
      - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
      - apk add --no-cache make openssh-client
      - docker info # Tests the docker connection
    script:
      - echo "Deploying to production server"
      # copy secure .env for db-connection
      - cp $SECURE_FILES_PATH/.env .
      # establish ssh connection
      - chmod +x ./scripts/establish_ssh_connection.sh
      - ./scripts/establish_ssh_connection.sh
      # Execute remote commands
      - ssh -v -i ~/.ssh/ci_ssh debian@group2.osnet.h-da.cloud "make update && echo 'Successfully deployed' && exit"
    needs:
      - test-job
      - analyze-job
    only: # execute only when pushed on following branches
      - main
