stages:
  - build
  - test
  - analyze
  - deploy

build-job:
  stage: build
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
      alias: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}" --build-arg "GITLAB_PROXY=${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"


test-job:
  stage: test
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}
  variables:
    PYTHONPATH: $CI_PROJECT_DIR/backend/src
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - . /venv/bin/activate
    - pip install -r requirements.txt
  script:
    - pytest --cov=backend/src --cov-report=term backend/src/tests/ --cov-config=setup.cfg
  needs:
    - build-job
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+)%/'



analyze-job:
  stage: analyze
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}
  variables:
    PYTHONPATH: $CI_PROJECT_DIR/backend/src
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - . /venv/bin/activate
    - pip install -r requirements.txt
  script:
    - python -m pylint --rcfile=.pylintrc backend/src
    - python -m black --config pyproject.toml backend/src
  needs:
    - build-job

deploy-job:
    stage: deploy
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.3.1
    services:
      - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.3.1-dind
        alias: docker
    variables:
      SECURE_FILES_DOWNLOAD_PATH: $SECURE_FILES_PATH
      # Activate Docker-in-Docker
      DOCKER_HOST: tcp://docker:2375
      DOCKER_TLS_CERTDIR: ""
    before_script:
      - apk add --no-cache curl
      - apk add --no-cache bash
      # download secure files
      - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
      - apk add --no-cache make openssh-client
      - docker info # Tests the docker connection
    script:
      - echo "Deploying to production server"
      # establish ssh connection
      - chmod +x ./scripts/establish_ssh_connection.sh
      - ./scripts/establish_ssh_connection.sh
      # Execute remote commands
      - ssh -v -i ~/.ssh/ci_ssh debian@group2.osnet.h-da.cloud "make update && echo 'Successfully deployed' && exit"
    needs:
      - test-job
      - analyze-job
    only: # execute only when pushed on following branches
      - main
