stages:
  - build
  - dependency_scan
  - test
  - analyze
  - deploy

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

ci-build-job:
  stage: build
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest"
  services:
    - name: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest"
      alias: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
      --build-arg "GITLAB_PROXY=${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"

test-backend:
  stage: test
  image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
  variables:
    PYTHONPATH: "$CI_PROJECT_DIR/backend/src"
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - ". /venv/bin/activate"
    - python -m pip install --upgrade pip
    - pip --version
    - pip install -r backend/requirements.txt
  script:
    - pytest --cov=backend/src --cov-report=term --cov-report=xml:backend/coverage-reports/coverage.xml backend/src/tests/ --cov-config=backend/setup.cfg
  artifacts:
    paths:
      - backend/coverage-reports/coverage.xml
    expire_in: 7 days
  coverage: "/TOTAL\\s+\\d+\\s+\\d+\\s+(\\d+)%/"
  needs:
    - ci-build-job

test-frontend:
  stage: test
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:22"
  script:
    - cd frontend
    - npm ci
    - npm run coverage
  artifacts:
    paths:
      - frontend/coverage/
    expire_in: 7 days
  coverage: "/^All files\\s+\\|\\s+(\\d+\\.\\d+|\\d+)/"
  needs:
    - ci-build-job

analyze-backend:
  stage: analyze
  image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
  variables:
    PYTHONPATH: "$CI_PROJECT_DIR/backend/src"
  before_script:
    - apk add --no-cache python3 py3-pip
    - python3 -m venv /venv
    - ". /venv/bin/activate"
    - pip install -r backend/requirements.txt
  script:
    - python -m pylint --rcfile=backend/.pylintrc backend/src
    - python -m black --config backend/pyproject.toml backend/src
  needs:
    - test-backend
    - test-frontend

analyze-frontend:
  stage: analyze
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:22"
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format
  needs:
    - test-backend
    - test-frontend

sonarqube-scan:
  stage: analyze
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sonarsource/sonar-scanner-cli:latest"
  dependencies:
    - test-backend
  script:
    # Run sonar-scanner and save logs while printing them to the console
    - |
      sonar-scanner | tee sonar-scanner.log
    # Print a section with warnings and errors
    - echo -e "\n=== Warnings and Errors ==="
    - grep -E "(ERROR|WARN)" sonar-scanner.log || echo "No warnings or errors found."
  artifacts:
    paths:
      - sonar-scanner.log
  needs:
    - test-backend
    - test-frontend

deploy-job:
  stage: deploy
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.5.1"
  services:
  - name: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:27.5.1-dind"
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  before_script:
    - apk add --no-cache curl bash
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer"
      | bash
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    # Prepare SSH configuration
    - echo "Setting up SSH for deployment..."
    - mkdir -p ~/.ssh
    - mv "$SECURE_FILES_PATH/ci_ssh" ~/.ssh/
    - chmod 600 ~/.ssh/ci_ssh
    - ssh-keyscan -H group2.osnet.h-da.cloud >> ~/.ssh/known_hosts
    - mv $SECURE_FILES_PATH/.env.production ./frontend/.env.production
  script:
    - echo "Building and pushing Docker images..."
    - docker-compose build
    - docker-compose push

    - echo "Transferring docker-compose.yaml and .env to deployment server..."
    - scp -i ~/.ssh/ci_ssh ./docker-compose.yaml debian@group2.osnet.h-da.cloud:/home/debian/app/
    - scp -i ~/.ssh/ci_ssh $SECURE_FILES_PATH/.env debian@group2.osnet.h-da.cloud:/home/debian/app/
    - echo "Connecting to the deployment server..."
    - ssh -i ~/.ssh/ci_ssh debian@group2.osnet.h-da.cloud "
        cd /home/debian/app &&
        docker-compose pull &&
        docker-compose down &&
        docker-compose up -d --remove-orphans &&
        
        rm -f .env &&
        echo 'Deployment successful!'
      "
  after_script:
    # Cleanup SSH key
    - rm -rf ~/.ssh
  needs:
    - analyze-backend
    - analyze-frontend
    - sonarqube-scan
  only:
    - main