stages:
  - build
  - test
  - analyze

build-job:
  stage: build
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
      alias: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}" --build-arg "GITLAB_PROXY=${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/" .
    - docker push "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"  


test-job:
  stage: test
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}  
  before_script:
    - apk add --no-cache python3 py3-pip  
    - python3 -m venv /venv  
    - . /venv/bin/activate  
    - pip install -r requirements.txt
  script:
    - pytest --cov=src -cov-report=xml:coverage.xml src/tests/ --cov-config=setup.cfg
  needs:
    - build-job
  artifacts:
    paths:
      - coverage.xml
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+)%$/'


analyze-job:
  stage: analyze
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}  
  before_script:
    - apk add --no-cache python3 py3-pip  
    - python3 -m venv /venv  
    - . /venv/bin/activate  
    - pip install -r requirements.txt
  script:
    - python -m pylint --rcfile=.pylintrc src
    - python -m black --config pyproject.toml src
  needs:
    - build-job  
