services:
  postgres:
    image: postgres:latest
    container_name: group2-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_DATABASE}" ]
      interval: 10s
      retries: 5

  web-backend:
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      FLASK_ENV: development
    volumes:
      - ./backend:/app/backend

  navigation-service:
    volumes:
      - ./backend:/app/backend

  jaeger:
    image: jaegertracing/all-in-one:1.46
    container_name: group2-jaeger
    networks:
      - app-network
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"

volumes:
  postgres_data: