django==4.2.6
mako==1.2.1
wheel==0.37.1
oauthlib==3.1.1
sqlalchemy
psycopg2-binary
pylint
black
pytest
black
requests
debugpy
flask
flask-cors
coverage
pytest-cov
pytest-mock
python-dotenv
alembic
beautifulsoup4