/* From Uiverse.io by lenfear23 */
input[type='button'],
input[type='submit'] {
    margin: 0;
    border-radius: 1rem;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow:
        -0.3rem -0.3rem 1rem #444,
        0.3rem 0.3rem 1rem #222,
        inset 0.3rem 0.3rem 0.7rem #444,
        inset -0.3rem -0.3rem 0.7rem #222;
    font-family: 'Damion', cursive;
    cursor: pointer;
    border: none;
    font-size: calc(0.4rem + 0.5vw);
    color: rgb(135, 206, 250);
    transform: scale(1.2);
    transition: 500ms;
}

input[type='button']:hover,
input[type='submit']:hover {
    box-shadow:
        -0.3rem -0.3rem 1rem #444,
        0.3rem 0.3rem 1rem #222,
        inset 0.3rem 0.3rem 0.7rem #222,
        inset -0.3rem -0.3rem 0.7rem #444;
    color: #d6d6d6;
    transition: 500ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: calc(0.8rem + 0.5vw);
    text-shadow:
        -0.1rem -0.1rem 1rem rgba(255, 255, 255, 0.25),
        0.1rem -0.1rem 1rem rgba(255, 255, 255, 0.25),
        -0.1rem 0.1rem 1rem rgba(255, 255, 255, 0.25),
        0.1rem 0.1rem 1rem rgba(255, 255, 255, 0.25);
}

input[type='datetime-local'] {
    font-size: calc(0.4rem + 0.5vw);
    padding: 0.2rem;
    border: 0;
    border-radius: 0.3rem;
}

input[type='checkbox']:checked,
input[type='checkbox']:enabled,
input[type='checkbox']:not(:checked) {
    border: 0;
    accent-color: #333;
    width: 1rem;
    height: auto;
}

input[type='text'] {
    font-size: calc(0.3rem + 0.5vw);
    padding: 0.2rem;
    border: 0;
    border-radius: 0.3rem;
}

select {
    font-size: calc(0.4rem + 0.5vw);
    padding: 0.2rem;
    border: 0;
    border-radius: 0.3rem;
}

@media (min-width: 1024px), (min-aspect-ratio: 1/1) {
    input[type='datetime-local'] {
        padding: 0.2rem;
        border: 0;
        border-radius: 0.3rem;
    }

    input[type='checkbox']:checked,
    input[type='checkbox']:enabled,
    input[type='checkbox']:hover,
    input[type='checkbox']:not(:checked) {
        border: 0;
        accent-color: #333;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
    }

    input[type='text'] {
        padding: 0rem;
        border: 0;
        border-radius: 0.3rem;
    }

    select {
        padding: 0.2rem;
        border: 0;
        border-radius: 0.3rem;
    }
}
