footer {
    /* self */
    pointer-events: none;
    position: absolute;
    text-align: center;

    /* size */
    height: fit-content;
    min-height: 5%;
    width: 100%;

    /* positioning */
    bottom: 0;
    margin: 0rem;
}

footer * {
    /* self */
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

#developers {
    /* self */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
