header {
    display: flex;
    flex-direction: column;
    border-right: solid 0.1em white;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: center;
}

header > h1 {
    font-size: 2.5em;
}

header > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header > ul > li {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

header > ul > li > a {
    text-decoration: none;
    font-size: 1.8em;
    color: white;
}

header > ul > li > a:hover {
    color: gray;
}

#header-logo {
    transform: scale(0.7);
}

/* From Uiverse.io by lenfear23 */
input[type='button'] {
    margin: 0;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    font-family: 'Damion', cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transform: scale(1.2);
    transition: 500ms;
}

input[type='button']:hover {
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #222,
        inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
}
