header {
    /* self */
    display: flex;
    flex-direction: column;

    /* size */
    height: 100%;
    max-height: 100%;
    width: 100%;

    /* positioning */
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;

    /* alignment */
    justify-content: flex-start;
}

header > ul {
    /* self */
    display: flex;
    flex-direction: row;

    /* alignment */
    justify-content: space-evenly;

    /* spacing */
    list-style: none;
    margin: 0;
    padding: 0;
}

header > ul > li {
    /* self */
    display: flex;

    /* alignment */
    justify-content: center;

    /* spacing */
    margin: 0;
}

header > ul > li > a {
    /* text */
    color: white;
    font-size: calc(0.4rem + 1dvw);
}

header > ul > li > a:hover {
    /* text */
    color: black;
}

header > ul > li > a,
header > ul > li > a:hover {
    /* text */
    text-shadow:
        -0.075rem -0.075rem 0.5rem rgb(255, 172, 63),
        0.075rem -0.075rem 0.5rem rgba(255, 172, 63),
        -0.075rem 0.075rem 0.5rem rgba(255, 172, 63),
        0.075rem 0.075rem 0.5rem rgba(255, 172, 63);
}

#header-logo {
    /* size */
    height: calc(1rem + 15dvw);
}

@media (min-width: 1024px), (min-aspect-ratio: 1/1) {
    header {
        /* self */
        display: flex;
        flex-direction: column;

        /* size */
        max-height: 100%;
        width: 100%;

        /* positioning */
        float: left;

        /* alignment */
        justify-content: flex-start;
        text-align: center;
    }

    header > ul {
        /* self */
        display: flex;
        flex-direction: column;

        /* alignment */
        align-content: center;

        /* spacing */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header > ul > li {
        /* self */
        display: flex;

        /* alignment */
        justify-content: center;

        /* spacing */
        margin: 0.5em 0;
    }

    header > ul > li > a:hover {
        /* text */
        color: black;
    }

    header > ul > li > a,
    header > ul > li > a:hover {
        /* text */
        text-shadow:
            -0.075rem -0.075rem 0.5rem rgb(255, 172, 63),
            0.075rem -0.075rem 0.5rem rgba(255, 172, 63),
            -0.075rem 0.075rem 0.5rem rgba(255, 172, 63),
            0.075rem 0.075rem 0.5rem rgba(255, 172, 63);
    }
}
