header {
    display: flex;
    flex-direction: column;
    border-right: solid 0.1rem white;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: center;
}

header > h1 {
    font-size: 2.5em;
}

header > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header > ul > li {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

header > ul > li > a {
    text-decoration: none;
    font-size: 1.8em;
    color: white;
}

header > ul > li > a:hover {
    color: gray;
}

#header-logo {
    height: 10rem;
}
