#map {
    background-image: url('../assets/skyrim_map.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#map > g > text {
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

/* From Uiverse.io by lenfear23 */
input[type='button'] {
    margin: 0;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    font-family: 'Damion', cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transform: scale(1.2);
    transition: 500ms;
}

input[type='button']:hover {
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #222,
        inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
}

#distance {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
}

#toggle-route {
    margin-top: 1rem;
}

#endpoint {
    cursor: pointer;
}
