#map {
    background-image: url('../assets/skyrim_map.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#map > g > text {
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

#distance {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
}

#toggle-route {
    margin-top: 1rem;
}

#endpoint {
    cursor: pointer;
}
