#map-selector {
    /* self */
    pointer-events: none;
    z-index: 1;

    /* size */
    max-height: 5%;
    min-height: fit-content;

    /* text */
    text-align: center;

    /* visual */
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.1rem;
}

#map-selector > * {
    /* self */
    margin: 0rem;
}

#map-selector > select {
    /* self */
    pointer-events: auto;
}
