#register * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by lenfear23 */
input[type='button'],
input[type='submit'] {
    margin: 0;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    font-family: 'Damion', cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transform: scale(1.2);
    transition: 500ms;
}

input[type='button']:hover,
input[type='submit']:hover {
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #222,
        inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
}

#submit-username {
    margin: 1rem 0 0 0;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow:
        -5px -5px 15px #444,
        5px 5px 15px #222,
        inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    font-family: 'Damion', cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transform: scale(1.2);
    transition: 500ms;
}
