#register,
#register-form {
    /* self */
    display: flex;
    flex-direction: column;
    margin: 0;

    /* alignment */
    align-items: center;
    justify-content: space-between;
}

#register-form {
    /* self */
    flex-direction: row;
}

#register-username {
    /* self */
    background: #333;
    border: none;
    border-radius: 1rem;
    box-shadow:
        -0.2rem -0.2rem 0.2rem #444,
        0.2rem 0.2rem 0.2rem #222,
        inset 0.2rem 0.2rem 0.2rem #444,
        inset -0.2rem -0.2rem 0.2rem #222;
    color: #d6d6d6;
    cursor: pointer;
    font-family: 'Damion', cursive;
    margin: 0 0.5rem 0 0.5rem;
    text-align: center;
    transition: 500ms;

    /* alignment */
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px), (min-aspect-ratio: 1/1) {
    #register,
    #register-form {
        /* alignment */
        justify-content: center;
    }

    #register-form {
        /* self */
        flex-direction: column;
    }

    #register-username {
        /* self */
        margin: 0.5rem 0 0 0;
    }

    #submit-register-username {
        /* self */
        margin: 1rem 0 0 0;
    }
}
