#manage-routes-section {
    /* self */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 0.1rem white;
    margin-bottom: 1rem;
}

#manage-routes-section > * {
    /* self */
    margin-bottom: 0.7rem;
}

#manage-routes-section > article {
    /* self */
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

#manage-routes-section > article > * {
    /* self */
    margin-right: 0.5rem;
}

#routes-section {
    /* self */
    border-top: solid 0.1rem white;
    flex-grow: 3;
    max-height: inherit;
    min-width: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 3rem;
    text-align: center;
    scrollbar-width: none;
}

#routes-list {
    /* self */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
}

#routes-list > * {
    /* self */
    list-style-type: none;
    margin-bottom: 0.5rem;
}

#routes-list > li > .selectable {
    /* self */
    background-color: darkred;
}

#limit {
    /* self */
    padding: 0.2rem;
    width: 1.5rem;
}

@media (min-width: 1024px), (min-aspect-ratio: 1/1) {
    #manage-routes-section > article > * {
        /* self */
        margin-right: 0.7rem;
    }

    #routes-list > * {
        /* self */
        margin-bottom: 0.7rem;
    }

    #limit {
        /* self */
        padding: 0.3rem;
        width: 2rem;
    }
}
