#user-section {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-section > * {
    margin: 0.7rem 0;
}

#userSection-activeForm {
    margin: 0rem;
}
