body
{
    background-image: url('../../../assets/images/app_background.png');
    background-size: 100% 100%; /* Stretches the image both horizontally and vertically */
    background-position: top left; /* Aligns the image to the top-left corner */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */

    color: wheat;
    background-color: darkgray;
    font: 1.3rem Arial, Verdana;
    text-shadow: -0.1rem -0.1rem 2rem black,
    0.1rem -0.1rem 2rem black,
    -0.1rem 0.1rem 2rem black,
    0.1rem 0.1rem 2rem black;

    /* Allows text selection */
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Standard */
}

header {
    width: 99%;
    text-align: center;
}

a {
    color: wheat;
}

.flex1_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}