/* General styles for all screen sizes (Smartphones are considered standard)*/

/* ELEMENT */
body {
    background-image: url('../../assets/images/app_background.png');
    background-size: 100% 100%; /* Stretches the image both horizontally and vertically */
    background-position: top left; /* Aligns the image to the top-left corner */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */

    color: wheat;
    background-color: darkgray;
    font: 1.3rem Arial;
    text-shadow: -0.1rem -0.1rem 1rem black,
    0.1rem -0.1rem 1.5rem black,
    -0.1rem 0.1rem 1.5rem black,
    0.1rem 0.1rem 1.5rem black;
    text-align: center;

    /* Allows text selection */
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Standard */

    display: flex;
}

main {
    height: 100%;
    flex: 1; /* fills remaining space, footer slides to the downwards */
}

/* Hides all bullet points */
ul {
    list-style: none;
}

/* Adjusts size of all select elements*/
select {
    color: wheat;
    background-color: #234875;
    font: 1.2rem Arial, serif;
    text-shadow: -0.1rem -0.1rem 1rem black,
    0.1rem -0.1rem 0.5rem black,
    -0.1rem 0.1rem 0.5rem black,
    0.1rem 0.1rem 0.5rem black;
    width: max-content;
    border-radius: 1rem;
    text-align: center;
}

footer {
    position: relative; /* Position relative to control margin on the page */
    width: calc(99% - 10%); /* 99% of window width minus 2x 5% margin. 100% could let appear a scrollbar*/
    margin: 0 5%; /* 5% margin on both sides */
    padding: 10px;
    text-align: center;
}

/* CLASS */

/* Supports Safari 3+ (eliminates a browser exception) */
.glossary-menu-active-glossary-display.svelte-1ium3jp .remove-button.svelte-1ium3jp {
    user-select: text;
}

/* Flexbox1 layout settings */
.flex1_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Flexbox2 layout settings */
.flex3_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex3_container .flex_item {
    margin-bottom: 0.5rem;
}

.flex3_container .flex_item:last-child:enabled {
    color: wheat;
    background-color: #234875;
    font: 1.3rem Arial;
    text-shadow: -0.1rem -0.1rem 1rem black,
    0.1rem -0.1rem 0.5rem black,
    -0.1rem 0.1rem 0.5rem black,
    0.1rem 0.1rem 0.5rem black;
    margin: 0.5rem;
    border-radius: 1rem;
}

.flex3_container .flex_item:last-child {
    font: 1.3rem Arial;
    margin: 0.5rem;
    border-radius: 1rem;
}

.flex3_container input[type="submit"] {
    background-color: silver;
}

/* ID */

#doc_link {
    color: wheat;
}

/* Sets pictures' sizes */
#map_image {
    width: 10rem;
    max-width: 20%;
    height: auto;
}

/* No default spacing */
#endpoint_list {
    padding: 0rem;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    width: calc(99% - 10%); /* 99% of window width minus 2x 5% margin. 100% could let appear a scrollbar*/
    /* 5% margin on both sides */
    margin-right: 5%;
    margin-left: 5%;

}

/* All direct child elements of endpoint_list */
#endpoint_list > * {
    flex: 0 2 calc(3%); /* each element has 3% of its parent's container for itself */
    text-align: center;
    margin: 0.5rem;
}

/* every second direct child elements of endpoint_list */
#endpoint_list > *:nth-child(even) {
    flex: 0 2 calc(3%); /* each element has 3% of its parent's container for itself */
    text-align: center;
    color: #B3CAF5;
}

/* Response settings*/
#response_section {
    display: inline-block; /* Makes the element behave like a block-level element with inline behavior. */
    text-align: left;
    white-space: pre-wrap; /* Preserves line breaks and allows wrapping */
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* No changes needed as everything is already defined globally */
}

/* Media query for desktops */
@media only screen and (min-width: 1024px) {

    /* CLASS */
    /* Adjusts the map image size */
    .map_image {
        width: 20rem;
        height: auto;
    }
}
